
/* DMSerifDisplay-Regular - latin */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DMSerifDisplay-Regular.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

  /* Public Sans-700 - latin */
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/PublicSans-Bold.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  
  /* Public Sans-400 - latin */
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/PublicSans-Regular.ttf') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }