.header {
    width: 100%;
    min-height: auto;
    overflow: hidden;

   &__inner{
    width: 100%;
    min-height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   &__logo {
       margin-right: 64px;
   }

}

.nav {
    width: 100%;
    max-width: 911px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
    }

    &__item + &__item {
        margin-left: 40px;
    }

    &__link {
        color: $title-color;
        line-height: 18px;
        mix-blend-mode: normal;
        opacity: 0.7;
        text-decoration: none;
        transition: all .4s linear;
    }
    
    &__link:hover {
        color: $title-color;
        opacity: 1;
        transition: all .4s linear;
    }
}

.header__button:hover {
    transition: background-color .4s linear;
    @include button(173px,#DA6D97);
}

.clouse {
    display: none;
    border: none;
    background-color: transparent;
}

.menu{
    display: none;
    border: none;
    background-color: transparent;
}

@include breackpoint-down(685px) {
    .header {
    
       &__logo {
           margin-right: 10px;
       }
    
    }
    
    .nav {
    
        &__item + &__item {
            margin-left: 20px;
        }
    }

    .menu{
        display: none;
    }
    
}

@include breackpoint-down(570px) {
    .header {
        position: relative;
        width: 100%;
        height: auto;
        
    
       &__inner{
        width: 100%;
        min-height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       }
           
    }
    
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 300px;
        min-height: 667px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #1b262f;
        transition: right .5s linear;
    
        &__list {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-top: 43px;
        }

        &__list::before {
            position: absolute;
            top: 0;
            width: 249px;
            height: 1px;
            display: block;
            background-color: #fbfcfe26;
            content: "";
        }
    
        &__item + &__item {
            margin-left: 0px;
            margin-top: 32px;
        }

        &__item {
            width: 249px;
            text-align: center;
        }
    }

    .header__button {
        margin-top: 32px;
    }

    .clouse {
        display: block;
        margin-left: auto;
        margin-top: 48px;
        margin-right: 27px;
        margin-bottom: 25px;
    }
    
    .header__input {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    
    .header__menu-box {
        display: block;
    }
    
    .menu{
        display: block;
        border: none;
        background-color: transparent;
    }

    .header__input:checked ~ .header__nav {
        right: 0;
    }
   
}